<p class="subTitle">
    D R O P L I S T S</p>
<button ui-sref="droplist.detail" class="btn btn-default pull-right">
  <i class="glyphicon glyphicon-plus"></i> New List
</button>
<table class="table table-striped">

    <thead>
        <tr>
            <th></th>
            <th>Droplist Name</th>
            <th>Stocker Name</th>
            <th>Driver Name</th>
            <th>Department</th>
            <th width="1%"></th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="droplist in droplistGridCtrl.droplists">
            <td>{{$index+1}}</td>
            <td>{{droplist.droplistName}}</td>
            <td>{{droplist.stockerId}}</td>
            <td>{{droplist.driverId}}</td>
            <td>{{droplist.department}}</td>
            <td>
                <a ui-sref="droplist.detail({id: droplist.droplistId})" class="btn btn-primary">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td>
                <a ng-click="droplistGridCtrl.remove(droplist)" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
